.website__url-heading {
    margin: 0;
    font-family:Inter;
}

@media screen and (min-width: 320px){
    .website__url-heading {
        width: 288px;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2px;
        font-weight: 400;
        color: #AAAAAA;
        margin-bottom: 12px;
    }
}